<body>
<h1>Welcome</h1>
<div id="welcome-text">
    <p>Welcome to MyChampionList. Inspired by MyAnimeList, a WebApp which allows the user to search up any anime/manga and add it to a favorites list. It can be accessed at the following link: <a href="https://myanimelist.net/" target="_blank">MyAnimeList</a></p>
    <p>MyChampionList is a Web Application which allows users (suposedly League of legends players) to have a place to make a list of their favorite champions.</p>
    <p>The WebApp has other features as well such as ... </p>
    <p>trebe sa mai adaug ceva informatii aci</p>
    <p>MyChampionList is a project that I made for the Web Programing course at the University of Sibiu. The project is made using Angular and Firebase. The project is hosted on Firebase and can be accessed at the following link: <a href="/" target="_blank">MyChampionList</a></p>      
    <p>The reference was taken from the official Riot Games League of Legends Champions WebSite: <a href="https://universe.leagueoflegends.com/en_US/champions/" target="_blank">Riot Games - League of Legends - Champions</a> </p>
</div>
</body>